<header class="header-wrapper">
    <div class="section-content-wide">
        <div class="section-gap">
            <h1 class="blog-title center pb-base">
                <a href="/" class="blog-link">
                    {{site_setup.title}}
                </a>
            </h1>

            {% if site_setup.show_description %}
                <p class="blog-description pb-base center">
                {{site_setup.description}}
                </p>
            {% endif %}

            {% if site_setup.show_search %}
            <div class="search pb-base center">
                <form class="search-form" action="#" method="get">
                    <div class="search-content">
                        <label for="search-input" class="sr-only" id="search-label"></label>
                        <input 
                        type="search" 
                        class="search-input"
                        name="search"
                        id="search-input"
                        placeholder="Search">
                        <button class="search-btn" type="submit"
                        arialabelledby="search-label">
                        <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            {% endif %}
            
            {% if site_setup.show_menu %}
            <nav class="menu">
                <ul class="menu-items">
                    
                    {% for link in site_setup.menu.all %}
                    <li class="menu-item">
                        {% if link.new_tab %}
                            <a target="_blank" href="{{link.url_or_path}}" class="menu-item">{{link.text}}</a>
                        {% else %}
                            <a href="{{link.url_or_path}}" class="menu-item">{{link.text}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}

                </ul>
            </nav>
            {% endif %}

        </div>
    </div>
</header>

