# Em desenvolvimento pode ser qualquer valor. Em produção use uma chave única
# com no mínimo 50 caracteres, por exemplo gerada com secrets.token_urlsafe(64).
SECRET_KEY="CHANGE-ME"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1,localhost"

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="CHANGE-ME"
POSTGRES_USER="CHANGE-ME"
POSTGRES_PASSWORD="CHANGE-ME"
POSTGRES_HOST="psql"
POSTGRES_PORT="5432"
